<app-header></app-header>
<div class="NewsDetails">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li style="color: #4ca8b2;" routerLink="/home" class="home">Home</li>
                    <div style=" display: contents; color: #4ca8b2;" routerLink="/News">
                        <mat-icon style="color: rgb(199 199 199);">keyboard_arrow_right</mat-icon>
                        <li> News</li>
                    </div>
                    <div style=" display: contents; color: rgb(199 199 199);" routerLink="/NewsDetails">
                        <mat-icon style="color: rgb(199 199 199);">keyboard_arrow_right</mat-icon>
                        <li> News Details</li>
                    </div>
                </ul>
                <h1 class="NewsD">News Details</h1>
                <!-- <app-about></app-about> -->
                <div class="card mb-3">
                    <img src="../../assets/images/meeting.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 style="color:rgb(115 117 123);" class="card-title">Category Name</h5>
                        <mat-card-actions>
                            <mat-icon class="btnicon">share</mat-icon>
                            <mat-icon class="btnicon">favorite_border</mat-icon>
                        </mat-card-actions>
                        <h1 style="font-size: x-large;
                        FONT-WEIGHT: 500;
                        font-weight: bolder;">PResident El Sisi Unveils "Egypt Vision 2030"</h1>
                        
                        <p style="color:rgb(115 117 123);" class="card-text">Stocks rose worldwide on Monday as AstraZeneca (AZN.L) and Oxford
                            University confirmed plans to resume a leading coronavirus vaccine trial.\r\nInvestors
                            welcomed the restart of the late-stage study,In fact, Slabs are so popular that more car
                            owners seem to be itching to get in on the game. Usually, the cars used to make Slabs are
                            cheaper, older American models, decked out in candy paint,Plans call for the program to
                            start near Walmart headquarters in Arkansas early next year\r\nZipline\r\nZipline is
                            partnering with Walmart for a new drone delivery operation in the US, the companies anno
                            <br>
                            <br>
                            <br>
                            Stocks rose worldwide on Monday as AstraZeneca (AZN.L) and Oxford
                            University confirmed plans to resume a leading coronavirus vaccine trial.\r\nInvestors
                            welcomed the restart of the late-stage study,In fact, Slabs are so popular that more car
                            owners seem to be itching to get in on the game. Usually, the cars used to make Slabs are
                            cheaper, older American models, decked out in candy paint,Plans call for the program to
                            start near Walmart headquarters in Arkansas early next year\r\nZipline\r\nZipline is
                            partnering with Walmart for a new drone delivery operation in the US, the companies anno
                            <br>
                            <br>
                            <br>
                              Stocks rose worldwide on Monday as AstraZeneca (AZN.L) and Oxford
                            University confirmed plans to resume a leading coronavirus vaccine trial.\r\nInvestors
                            welcomed the restart of the late-stage study,In fact, Slabs are so popular that more car
                            owners seem to be itching to get in on the game. Usually, the cars used to make Slabs are
                            cheaper, older American models, decked out in candy paint,Plans call for the program to
                            start near Walmart headquarters in Arkansas early next year\r\nZipline\r\nZipline is
                            partnering with Walmart for a new drone delivery operation in the US, the companies anno
                            <br>
                            <br>
                            <br>
                            Stocks rose worldwide on Monday as AstraZeneca (AZN.L) and Oxford
                            University confirmed plans to resume a leading coronavirus vaccine trial.\r\nInvestors
                            welcomed the restart of the late-stage study,In fact, Slabs are so popular that more car
                            owners seem to be itching to get in on the game. Usually, the cars used to make Slabs are
                            cheaper, older American models, decked out in candy paint,Plans call for the program to
                            start near Walmart headquarters in Arkansas early next year\r\nZipline\r\nZipline is
                            partnering with Walmart for a new drone delivery operation in the US, the companies anno

                        </p>
                        
                    </div>
                </div>

            </div>
            <div class="col-12">
                <h1 class="NewsD">Related Topics</h1>
                <div class="divs">
                    <div class="col-12 col-md-4">
                        <div class="div1">
                            <br>
                            <div class="data">
                                <p>Category</p>
                                <h1 style="  font-size: 28px;
                                font-weight: 500;">New Artificial Intelligence Apps</h1>
                                <p style="  cursor: pointer;    
                                     color: #8dc043;    display: inline-flex;" routerLink="/News"> View Details
                                    <mat-icon style="margin-top:-3px;">arrow_right_alt</mat-icon>
                                </p>
                            </div>


                        </div>


                    </div>
                    <div class="col-12 col-md-4">
                        <div class="div2">
                            <br>
                            <div class="data">
                                <p>Category</p>
                                <h1 style="  font-size: 28px;
                                font-weight: 500;">New Artificial Intelligence Apps</h1>
                                <p style="  cursor: pointer;    
                                     color: #8dc043;    display: inline-flex;" routerLink="/News"> View Details
                                    <mat-icon style="margin-top:-3px;">arrow_right_alt</mat-icon>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="div3">
                            <br>
                            <div class="data">
                                <p>Category</p>
                                <h1 style="  font-size: 28px;
                                font-weight: 500;">New Artificial Intelligence Apps</h1>
                                <p style="  cursor: pointer; 
                                     color: #8dc043;    display: inline-flex;" routerLink="/News"> View Details
                                    <mat-icon style="margin-top:-3px;">arrow_right_alt</mat-icon>
                                </p>
                            </div>

                        </div>
                    </div>
                   
                </div>
                <p style="float: right;  cursor: pointer; margin: 20px 30px 30px 30px;
                color: #8dc043;    display: inline-flex;" routerLink="/News"> View All
               <mat-icon style="margin-top:-3px;">arrow_right_alt</mat-icon>
                </p>
            
            </div>

        </div>
    </div>
    <app-contact id="contact"></app-contact>
</div>