<section class="FEATURES">
    <div class="container">
        <div class="row">

            <div class="col-md-12 title">
                <h1 >How we have helped</h1>
                <h3 >See how Al Foundation have promoted change locally and to the world</h3>

            </div>
          
                <div class=" col-6 col-md-2 data">
                    <ul>
                        <li>
                            <mat-icon>location_on</mat-icon>
                        </li>
                        <li>Find place</li>
                        <li>
                            <mat-icon>add</mat-icon>
                        </li>
                    </ul>

                </div>
                <div class=" col-6 col-md-2 data">
                    <ul>
                        <li>
                            <mat-icon>visibility</mat-icon>
                        </li>
                        <li>A'awem</li>
                        <li>
                            <mat-icon>add</mat-icon>
                        </li>
                    </ul>

                </div>
                <div class=" col-6 col-md-2 data">
                    <ul>
                        <li>
                            <mat-icon>info</mat-icon>
                        </li>
                        <li>Omniyat</li>
                        <li>
                            <mat-icon>add</mat-icon>
                        </li>
                    </ul>
                </div>
                <div class=" col-6 col-md-2 data">
                    <ul>
                        <li>
                            <mat-icon>table_view</mat-icon>
                        </li>
                        <li>Give Time</li>
                        <li>
                            <mat-icon>add</mat-icon>
                        </li>
                    </ul>
                </div>
 <div class="container">
     <div class="row">
              <div class="col-2"></div>
                <div class=" col-6 col-md-2 data">
                    <ul>
                        <li>
                            <mat-icon>face</mat-icon>
                        </li>
                        <li>Tofoula</li>
                        <li>
                            <mat-icon>add</mat-icon>
                        </li>
                    </ul>

                </div>
                <div class=" col-6 col-md-2 data">
                    <ul>
                        <li>
                            <mat-icon>stay_primary_portrait</mat-icon>
                        </li>
                        <li>Fundraising</li>
                        <li>
                            <mat-icon>add</mat-icon>
                        </li>
                    </ul>
                </div>
                <div class=" col-6 col-md-2 data">
                    <ul>
                        <li>
                            <mat-icon>pan_tool</mat-icon>
                        </li>
                        <li>Zakat</li>
                        <li>
                            <mat-icon>add</mat-icon>
                        </li>
                    </ul>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        </div>
    </div>
</section>