<section class="contact">
    <div class="container">
        <div class="row data">
           <div class="col-6 col-md-6 col-lg-2">
               <ul>
                   <li>News</li>
                   <li>Events</li>
                   <li>About</li>
                   <li>FAQs</li>
               </ul>

           </div>
           <div class="col-6 col-md-6 col-lg-2">
            <ul>
                <li>Privacy Policy</li>
                <li>Contact Us</li>
                <li>Complains</li>
               
            </ul>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <p>Subscript to Newsletler</p>
            <nav class="navbar navbar-light ">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn search my-2 my-sm-0" type="submit">Search</button>
                </form>
              </nav>
               
        </div>
        <div class="col-12 col-md-12 col-lg-4 follow">
               <p>Follow us on </p>
             <img src="../../assets/images/instagram.svg" alt="">
             <img src="../../assets/images/youtub.svg" alt="">
             <img src="../../assets/images/linkedin.svg" alt="">
             <img src="../../assets/images/facebook.svg" alt="">
             <img src="../../assets/images/twitter.svg" alt="">
        </div>

        </div>
    </div>
</section>